.about
    margin-bottom: $mb-block
    &__title
        text-align: center
        margin-bottom: 24px
    &__list
        display: flex
        flex-wrap: wrap
        gap: 24px
    &__item
        display: flex
        flex-direction: column
        justify-content: center
        padding: 24px
        padding-left: 172px
        width: 496px
        height: 184px
        background-image: url("../img/about-1.svg")
        background-repeat: no-repeat
        background-size: 136px 136px
        background-position: left 24px center
    &__inner-title
        margin-bottom: 12px
    &__text
        max-width: 300px

.about-item-2
    background-image: url("../img/about-2.svg")

.about-item-3
    background-image: url("../img/about-3.svg")

.about-item-4
    background-image: url("../img/about-4.svg")

.about-item-5
    background-image: url("../img/about-5.svg")

.about-item-6
    background-image: url("../img/about-6.svg")
