.header
    background-color: $gray-50
    margin: 24px 0
    &__top
        display: flex
        justify-content: space-between
        align-items: center
        gap: 60px
        margin-bottom: 25px
    &__info-wrap
        display: flex
        gap: 12px
    &__course
        padding-right: 12px
        border-right: 1px solid $purple-400
    &__bottom
        display: flex
        justify-content: space-between
        align-items: center
