.phone
    display: flex
    flex-direction: column
    &__link
        font-weight: 900
        font-size: 36px
        line-height: 111%
        color: $gray-900
    &__link--white
        color: $gray-50
    &__text
        font-weight: 300
        font-size: 24px
        line-height: 133%
    &__text--white
        color: $gray-50
