.reviews
    margin-bottom: var(--mb-block)
    &:target
        scroll-margin-top: 50px
    &__container
        position: relative
    &__title
        text-align: center
        margin-bottom: 32px
    &__review
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        border-radius: 16px
        padding: 32px 43px
        background-color: $gray-50
        background-image: url(../img/quotes.svg)
        background-repeat: no-repeat
        background-position: right 18px bottom 8px
        font-size: 24px
        line-height: 133%
        user-select: none
        @include adaptive(extra-large)
            font-size: 18px
            padding: 16px
        @include adaptive(large)
            padding: 32px
    &__text
        font-weight: 300
        max-width: 540px
        margin-bottom: auto
    &__name
        font-weight: 400
        color: $purple-500
