.swiper
    position: static
    width: 1276px
    height: 340px

.swiper-slide
    width: 626px
    &:not(:last-child)
        margin-right: 24px

.swiper-button-prev, .swiper-button-next
    position: absolute
    width: 60px
    height: 60px
    border: none
    color: transparent
    background: transparent
    padding: 0
    &::after
        display: none
